@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

body {
    font-family: 'Droid Serif';
}
h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    /*font-weight: 400;*/
    margin-bottom: 10pt;
    margin-top: 0;
    color: gray;
}

img {
    width: 100%;
}

a {
    color: gray;
}

thead tr th {
    /*background-color: lightgray;*/
    border-bottom: 2px solid lightgray;
}

tbody tr td:first-child {
    padding-right: 10px;
}

tbody tr:last-child td {
    border-bottom: 2px solid lightgray;
}
/*
.remark-slide-content {
    background-image: url(./stellar.svg);
    background-position: 10% 98%;
    background-size: 155pt 20pt;
}
*/

.remark-code {
    font-size: 11pt;
}

/* Two-column layout */
.left-column {
width: 50%;
float: left;
}
.right-column {
width: 50%;
float: right;
}

.logo {
    position: absolute;
    left: 0;
    bottom: 10pt;
    width: 100%;
    height: 30pt;
    /*float: left;*/
    margin: 0px;
    padding: 0px;
}

.logo-img {
    margin-left: 20px;
    display: inline-block;
    position: relative;
    width: 20%;
    transform: translate(0, -30%);
}

.logo-img-cscs {
    margin-left: 20px;
    display: inline-block;
    position: relative;
    height: 30pt;
    width: 74pt;
}

.logo-img-fau {
    margin-left: 20px;
    display: inline-block;
    position: relative;
    height: 20pt;
    width: 34pt;
    transform: translate(0, -5px);
}

.logo-img-ethz {
    margin-left: 20px;
    display: inline-block;
    position: relative;
    height: 12px;
    width: 64px;
    transform: translate(0, -15px);
}

.logo-img-lsu {
    margin-left: 20px;
    display: inline-block;
    position: relative;
    height: 12px;
    width: 64px;
    transform: translate(0, -15px);
}

.crop {
    overflow: hidden;
}

.crop img {
    margin: -60px 0 0 0;
}
